.quote-remove {
  display: none !important;
}

.quiz-exam-add,
.resilt--add,
.info-add {
  display: block !important;
}

.quiz-result-show,
.count__btn--show {
  display: block;
  // opacity: 1;
}
