// background color
$color-primary-1: #34495e;
$color-primary-2: #34495e;
$color-primary-3: #b53471;
$color-primary-4: #1289a7;

// $color-bg-primary-blue: 'Dark Blue';
// $color-bg-primary-sea: 'Deep Sea';
// $color-bg-primary-rose: 'Deep Rose';

// $color-primary-blue: 'Blue';
// $color-primary-sea: 'Sea';
// $color-primary-rose: 'Rose';

$color-pure-white: #ffffff;
$color-pure-black: #000000;

$color-gray-dark: #bdc3c7;
$color-gray-light: #ecf0f1;

$color-shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
$color-shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.05);

// $primary-font: 'Bangla Font'; // 'English Font' => come from 'mixins.scss'
// $primary-font: 'English Font'; // 'Bangla Font' => come from 'mixins.scss'
